<!DOCTYPE html>
<html>
<head>
    <title>Pay with eSewa</title>
</head>
<body>
    <h2>eSewa Test Payment</h2>
    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="tax_amount" value="0">
        <input type="hidden" name="total_amount" value="{{ amount }}">
        <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
        <input type="hidden" name="product_code" value="{{ product_code }}">
        <input type="hidden" name="product_service_charge" value="0">
        <input type="hidden" name="product_delivery_charge" value="0">
        <input type="hidden" name="success_url" value="{{ success_url }}">
        <input type="hidden" name="failure_url" value="{{ failure_url }}">
        <button type="submit">Pay with eSewa</button>
    </form>
</body>
</html>
